.box {
  margin: auto;
  &:hover {
    cursor: pointer;
  }
}
.paper {
  background-color: var(--background-card) !important;
  color: var(--text) !important;
  text-align: center;
}
.MobileStepper {
  background-color: var(--background-card) !important;
  height: 30px;
}

.carousel-button {
  color: var(--text) !important;
}
.AutoPlaySwipeableViews {
  color: var(--text) !important;
}

.MuiMobileStepper-dot {
  background-color: var(--text) !important;
}
.MuiPaper-root {
  justify-content: center;
}
.MuiMobileStepper-dotActive {
  background-color: rgb(146, 145, 145) !important;
}
