.bookCard {
  margin-right: 70px;
  margin-bottom: 5px;
  &:last-child {
    margin-right: 0px;
  }
}
.bookCard__item {
}
.bookCard__container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
}
.bookCard__img-container {
  height: 340px;
  width: 220px;
}

.book__image {
  height: 100%;
  width: 100%;
  transition: 0.5s;
  &:hover {
    box-shadow: inset 0 0 5px white, 0 0 10px white, 0 0 15px white,
      0 0 20px crimson, 0 0 35px crimson, 0 0 40px crimson, 0 0 50px crimson,
      0 0 75px crimson;
  }
}

.bookCard__title {
  text-align: center;
  font-size: 1.42857rem;
  color: var(--text);
  max-width: 200px;
}

// box-shadow: inset 0 0 5px white, 0 0 10px white, 0 0 15px white,
//     0 0 20px crimson, 0 0 35px crimson, 0 0 40px crimson, 0 0 50px crimson,
//     0 0 75px crimson;
