.title-name {
  max-width: 500px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}
.hr {
  color: var(--text);
}
.movies-block {
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.movies-block__item {
  width: 300px;
  // margin-top: 50px;
}
.movie-item_title {
  text-align: center;
}
.carousel {
  background-color: var(--text);
}
