.login-page {
  max-width: 400px;
  margin: auto;

  .text-field {
    margin-bottom: 24px;
  }

  .css-bhp9pd-MuiPaper-root-MuiCard-root {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--background-card);
    color: var(--text);
  }
}
.MuiInputBase-input {
  color: var(--text) !important;
}
.MuiInputBase-input::placeholder {
  color: var(--text) !important;
}
label {
  color: var(--text) !important;
}
.button-login {
  color: var(--text) !important;
}
.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
  border: 1px solid var(--text) !important ;
}
.Mui-focused {
  border: none !important;
}
